# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
/offline

# excel
*.xlsx

# docker
docker

# metadata
/metadata/avatar

# dynamodb test
/database/utils
/test